In [1]:
from eruption_forecast import CalculateTremor

In [2]:
calculate = CalculateTremor(
    start_date="2025-01-01",
    end_date="2025-01-03",
    station="OJN",
    channel="EHZ",
    remove_outliers=True,
    overwrite=True,
    plot_tmp=True,
    plot_tremor=True,
    overwrite_plot=False,
    verbose=False,
    debug=False,
)

In [3]:
calculate.from_sds(sds_dir=r"D:\Data\OJN").run()

2026-01-28 15:53:30.668 | INFO     | eruption_forecast.tremor.calculate_tremor:run_job:370 - Running Jobs ID: 0. Date: 2025-01-01
2026-01-28 15:53:33.820 | INFO     | eruption_forecast.tremor.calculate_tremor:run_job:370 - Running Jobs ID: 1. Date: 2025-01-02
2026-01-28 15:53:36.438 | INFO     | eruption_forecast.tremor.calculate_tremor:run_job:370 - Running Jobs ID: 2. Date: 2025-01-03
2026-01-28 15:53:38.948 | INFO     | eruption_forecast.tremor.calculate_tremor:concat_tremor_data:653 - Tremor data saved to D:\Projects\eruption-forecast\examples\output\VG.OJN.00.EHZ\tremor\tremor.csv

In [4]:
calculate.df

,dsar_f0-f1,dsar_f1-f2,dsar_f2-f3,dsar_f3-f4,rsam_f0,rsam_f1,rsam_f2,rsam_f3,rsam_f4
datetime,,,,,,,,,
2025-01-01 00:00:00,2.776187,33.885171,49.303880,94.258432,3.901677,16.882557,10.930197,13.769286,13.111493
2025-01-01 00:10:00,2.338223,29.081874,41.638286,67.807305,3.613867,16.476234,10.256374,12.992982,14.724350
2025-01-01 00:20:00,2.946562,41.063460,61.922514,92.860945,4.082479,15.807544,9.398641,11.894195,14.550672
2025-01-01 00:30:00,2.901199,37.967071,58.665755,95.127958,3.755505,15.897350,9.357448,11.807680,13.077225
2025-01-01 00:40:00,2.212752,29.013270,40.449366,60.526217,3.620883,16.149206,9.910210,13.086155,16.104177
...,...,...,...,...,...,...,...,...,...
2025-01-03 23:10:00,2.681863,23.769386,31.812055,64.914340,3.939250,14.217635,15.345557,19.443703,16.622734
2025-01-03 23:20:00,2.617096,20.774944,27.074427,38.225115,4.143315,14.798816,16.397826,22.178642,29.422804
2025-01-03 23:30:00,2.755497,23.618291,31.637016,54.075254,4.321015,14.511019,16.092170,21.046933,21.484089
2025-01-03 23:40:00,2.566411,22.193557,29.196047,47.107617,3.967103,13.857128,15.657976,20.562309,22.898666
2025-01-03 23:50:00,3.280129,25.122846,28.681244,40.925866,3.641559,13.229447,16.891771,24.570312,31.842143