In [5]:
from imblearn.under_sampling import RandomUnderSampler
import os
import pandas as pd

In [3]:
tremor_csv = r"D:\Projects\eruption-forecast-examples\output\VG.OJN.00.EHZ\tremor\tremor_VG.OJN.00.EHZ_2025-01-01-2025-09-28.csv"
label_csv = r"D:\Projects\eruption-forecast-examples\output\VG.OJN.00.EHZ\labels\label_2025-01-01_2025-09-28_ws-2_step-6-hours_dtf-2.csv"

In [6]:
df_tremor = pd.read_csv(tremor_csv, index_col=0, parse_dates=True)
df_label = pd.read_csv(label_csv, index_col=0, parse_dates=True)

In [13]:
labels = pd.Series(df_label["is_erupted"])
labels.index = df_label["id"]
labels

id
0       0
1       0
2       0
3       0
4       0
       ..
1079    0
1080    0
1081    0
1082    0
1083    0
Name: is_erupted, Length: 1084, dtype: int64

In [8]:
random_under_sampler = RandomUnderSampler(sampling_strategy=0.75, random_state=42)
random_under_sampler.fit_resample(df_tremor, df_label)

                       id  is_erupted
datetime
2025-01-01 00:00:00     0           0
2025-01-01 06:00:00     1           0
2025-01-01 12:00:00     2           0
2025-01-01 18:00:00     3           0
2025-01-02 00:00:00     4           0
...                   ...         ...
2025-09-27 18:00:00  1079           0
2025-09-28 00:00:00  1080           0
2025-09-28 06:00:00  1081           0
2025-09-28 12:00:00  1082           0
2025-09-28 18:00:00  1083           0

[1084 rows x 2 columns]