In [1]:
from eruption_forecast import Label

In [2]:
eruptions = [
    "2025-03-20",
    "2025-04-22",
    "2025-05-18",
    "2025-06-17",
    "2025-07-07",
    "2025-08-01",
    "2025-08-17",
]

In [3]:
label = Label(
    start_date="2025-01-01",
    end_date="2025-12-31",
    window_size=2,
    window_overlap=0.75,
    sampling_rate=100.0,
    day_to_forecast=2,
    eruption_dates=eruptions,
    verbose=True,
)

2026-01-08 14:02:30.197 | INFO     | eruption_forecast.label:__init__:76 - Start Date: 2025-01-01
2026-01-08 14:02:30.197 | INFO     | eruption_forecast.label:__init__:77 - End Date: 2025-12-31
2026-01-08 14:02:30.197 | INFO     | eruption_forecast.label:__init__:78 - Window Size: 2
2026-01-08 14:02:30.197 | INFO     | eruption_forecast.label:__init__:79 - Window Overlap: 0.75
2026-01-08 14:02:30.197 | INFO     | eruption_forecast.label:__init__:80 - Sampling Rate: 100.0
2026-01-08 14:02:30.197 | INFO     | eruption_forecast.label:__init__:81 - Day To Forecast: 2
2026-01-08 14:02:30.200 | INFO     | eruption_forecast.label:__init__:82 - Label File: D:\Projects\eruption-forecast\test\output\labels\label_2025-01-01_2025-12-31_ws-2_wo-0.75_sr-100.0_dtf-2.csv

In [4]:
label.create().df_erupted

      id                time  is_erupted
152  152 2025-03-18 00:00:00           1
153  153 2025-03-18 12:00:00           1
154  154 2025-03-19 00:00:00           1
155  155 2025-03-19 12:00:00           1
156  156 2025-03-20 00:00:00           1
218  218 2025-04-20 00:00:00           1
219  219 2025-04-20 12:00:00           1
220  220 2025-04-21 00:00:00           1
221  221 2025-04-21 12:00:00           1
222  222 2025-04-22 00:00:00           1
270  270 2025-05-16 00:00:00           1
271  271 2025-05-16 12:00:00           1
272  272 2025-05-17 00:00:00           1
273  273 2025-05-17 12:00:00           1
274  274 2025-05-18 00:00:00           1
330  330 2025-06-15 00:00:00           1
331  331 2025-06-15 12:00:00           1
332  332 2025-06-16 00:00:00           1
333  333 2025-06-16 12:00:00           1
334  334 2025-06-17 00:00:00           1
370  370 2025-07-05 00:00:00           1
371  371 2025-07-05 12:00:00           1
372  372 2025-07-06 00:00:00           1
373  373 2025-07-06 12:00:00           1
374  374 2025-07-07 00:00:00           1
420  420 2025-07-30 00:00:00           1
421  421 2025-07-30 12:00:00           1
422  422 2025-07-31 00:00:00           1
423  423 2025-07-31 12:00:00           1
424  424 2025-08-01 00:00:00           1
452  452 2025-08-15 00:00:00           1
453  453 2025-08-15 12:00:00           1
454  454 2025-08-16 00:00:00           1
455  455 2025-08-16 12:00:00           1
456  456 2025-08-17 00:00:00           1

In [3]:
10**0.0

1.2589254117941673